.about {
    width: 100%;
    height: 180vh;
    display: flex;
    flex-direction: column;
  }
  
  .aboutTop {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    margin-top: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  .aboutBottom {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    margin-top: 10px;
  }
  
  .aboutBottom p {
    width: 60%;
  }

  .aboutBottom h3 {
    width: 55%;
    margin: 0%;
    margin-top: 1%;
  }
  
  .aboutBottom a:link {
    text-decoration: none;
    color: blue;
  }

  .aboutBottom a:visited {
    text-decoration: none;
    color: blue;
  }

  .aboutBottom a:hover {
    text-decoration: none;
    background-color: #121619;
    color: aqua;
    padding: 5px;
    border-radius: 5px;
  }
  
  .aboutBottom a:active {
    text-decoration: underline;
  }

  .about .aboutBottom h1 {
    font-weight: 400;
    font-size: 70px;
    color: black;
    height: 30px;
    display: flex;
    justify-content: center;
    transform: translateY(-20px);
  }